{% extends 'template.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a>
        </li>
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="{{ url_for('index') }}">Gallery</a>
        </li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{filename}}</li>
    </ol>
    <h2 class="font-weight-bolder mb-0"> {{filename}} </h2>
</nav>
{% endblock %}

{% block title %} {{filename}} {% endblock %}
{% block page3 %} active {% endblock %}

{% block content %}
{% if filename %}
<h2>Results! </h2>
<h4>{% if data['logo'] %} Car Brand Detection <span class="badge bg-primary">{{data['logo'].split('/')[-1].split('.')[0]}}</span>
    {% endif %}</h4>
<div class="row mt-4 justify-content-center">
    {% if data['logo'] %}
    {% for i in ['logo'] %}
    <div class="col-md-8 mb-4">
        <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                <a href="{{url_for('display_image2', filename=filename, file=i+'.jpg')}}" class="d-block">
                    <img src="{{ url_for('display_image2', filename=filename, file=i+'.jpg') }}"
                         class="img-fluid border-radius-lg">
                </a>
            </div>

            <div class="card-body pt-2">
                <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{filename}}</span>
                <a href="javascript:;" class="card-title h5 d-block text-darker">
                    {{i}}
                </a>
                <p class="card-description ">
                    ....
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if data['logo'] %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                <a href="{{url_for('static', filename=data['logo'][7:])}}" class="d-block">
                    <img src="{{ url_for('static', filename=data['logo'][7:]) }}"
                         class="img-fluid border-radius-lg">
                </a>
            </div>

            <div class="card-body pt-2">
                <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{filename}} brand detect</span>
                <a href="javascript:;" class="card-title h5 d-block text-darker">
                    {{data['logo'].split('/')[-1].split('.')[0]}}
                </a>
                <p class="card-description ">
                    Car brand
                </p>
            </div>
        </div>
    </div>
    {% endif %}

</div>
<div class="row mt-4"><h4>Car Segmentation </h4></div>

<div class="row mt-4">
    {% for i in ['sementic'] %}
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                <a href="{{url_for('display_image2', filename=filename, file=i+'.jpg')}}" class="d-block">
                    <img src="{{ url_for('display_image2', filename=filename, file=i+'.jpg') }}"
                         class="img-fluid border-radius-lg">
                </a>
            </div>

            <div class="card-body pt-2">
                <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{filename}}</span>
                <a href="javascript:;" class="card-title h5 d-block text-darker">
                    {{i}}
                </a>
                <p class="card-description ">
                    ....
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for i in ['original','mask'] %}
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                <a href="{{url_for('display_image2', filename=filename, file=i+'.jpg')}}" class="d-block">
                    <img src="{{ url_for('display_image2', filename=filename, file=i+'.jpg') }}"
                         class="img-fluid border-radius-lg">
                </a>
            </div>

            <div class="card-body pt-2">
                <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{filename}}</span>
                <a href="javascript:;" class="card-title h5 d-block text-darker">
                    {{i}}
                </a>
                <p class="card-description ">
                    ....
                </p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endif %}
{% if files %}
<div class="row mt-4">
    <!--    <h4>Output !</h4>-->
    <!--    {% for i in files %}-->
    <!--    <div class="col-md-4">-->
    <!--        <div class="card mb-4">-->
    <!--            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">-->
    <!--                <a href="{{ url_for('static', filename=i.replace('/static/','')) }}" class="d-block">-->
    <!--                    <img src="{{ url_for('static', filename=i.replace('/static/','')) }}"-->
    <!--                         class="img-fluid border-radius-lg">-->
    <!--                </a>-->
    <!--            </div>-->

    <!--            <div class="card-body pt-1 pb-4">-->
    <!--                <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">Part Name</span>-->
    <!--                <a href="javascript:;" class="card-title h5 d-block text-darker">-->
    <!--                    {{i.split('/')[-1].split('.')[0].replace('_',' ')}}-->
    <!--                </a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    {% endfor %}-->
    <div class="col-12 mt-4">
        <div class="card mb-4">
            <div class="card-header pb-0 p-3">
                <h6 class="mb-1">Parts</h6>
                <p class="text-sm">Segmented Parts</p>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    {% for i in files %}
                    <div class="col-xl-3 col-md-6 mb-xl-4 mb-3">
                        <div class="card card-blog card-plain">
                            <div class="position-relative">
                                <a href="{{ url_for('static', filename=i.replace('/static/','')) }}"
                                   class="d-block shadow-xl border-radius-xl">
                                    <img src="{{ url_for('static', filename=i.replace('/static/','')) }}"
                                         alt="img-blur-shadow"
                                         class="img-fluid shadow border-radius-xl">
                                </a>
                            </div>
                            <div class="card-body px-1 pb-0">
                                <a href="{{url_for('car',filename=i)}}">
                                    <h5>
                                        {{i.split('/')[-1].split('.')[0].replace('_',' ')}}
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}