{% extends 'template.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a>
        </li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Gallery</li>
    </ol>
    <h2 class="font-weight-bolder mb-0"> Gallery </h2>
</nav>
{% endblock %}

{% block title %} Gallery {% endblock %}
{% block page3 %} active {% endblock %}


{% block content %}
<div class="container-fluid py-4">
    {% for j in date %}
    <div class="col-12 mt-4">
        <div class="card mb-4">
            <div class="card-header pb-0 p-3">
                <h3 class="mb-1">Gallery {{j.replace('-','/')}}</h3>
                <p class="text-sm">Detected Brand and Segmented image</p>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    {% for i in files %}
                    {% if i.split('_')[0] == j %}
                    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4 mt-2 align-self-end">
                        <div class="card card-blog card-plain justify-content-between">
                            <div class="position-relative">
                                <a class="d-block shadow-xl border-radius-xl">
                                    <img src="{{ url_for('static',filename='uploads_damage/'+i+'/sementic.jpg')}}"
                                         alt="img-blur-shadow"
                                         class="img-fluid shadow border-radius-xl">
                                </a>
                            </div>
                            <div class="card-body px-1 pb-0 d-inline-block text-truncate mt-auto">
                                <p class="text-gradient text-dark mb-2 text-sm">Filename</p>
                                <a href="{{url_for('car',filename=i)}}">
                                    <h5>
                                        {{i}}
                                    </h5>
                                </a>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a href="{{url_for('damage',filename=i)}}" class="btn btn-outline-primary btn-sm mb-3">Open
                                        file
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

